@use '_variable' as v;

body {
  color: v.palette('black');
  font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic Pro', 'メイリオ', sans-serif;
}

button,
[type='submit'] {
  cursor: pointer;
}

.root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: v.palette('gray');
}
